.send {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  background: #ffffff;
  z-index: 1;
}
.form-control {
  width: 100%;
  padding: 10px 0;
}
.form-control::placeholder {
  color: #00000070;
}
.btn {
  width: 35px; height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.btn:hover {
  background: #F2F2F2;
}

/* darkmode */
.send.dark {
  background: #222831;
}
.send.dark .form-control {
  color: #ffffffdd;
}
.send.dark .form-control::placeholder {
  color: #ffffff70;
}
.send.dark .btn:hover {
  background: #393E46;
}