.header {
  display: grid;
  padding: 10px 5px 10px 15px;
  gap: 20px;
  background: #ffffff;
  z-index: 1;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px 0 0;
}
.search-bar .form-control::placeholder {
  color: #00000070;
}
.btn {
  display: flex;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.1s;
  cursor: pointer;
}
.btn * {
  margin: auto;
}
.btn.active {
  background: #F2F2F2;
}
.btn:hover {
  background: #F2F2F2;
}
.form-control {
  background: transparent;
  border-radius: 0;
  width: 100%;
  padding: 0 0 5px 0;
}

/* darkmode */
.header.dark {
  background: #222831;
}
.header.dark .search-bar .form-control::placeholder {
  color: #ffffff70;
}
.header.dark .btn.active {
  background: #393E46;
}
.header.dark .btn:hover {
  background: #393E46;
}