.header {
  display: grid;
  padding: 10px 5px 10px 15px;
  box-shadow: 0 2px 2px #0e0f14;
  gap: 20px;
  z-index: 1;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0 10px 0 0;
}
.btn {
  display: flex;
  background: transparent;
  padding: 5px;
  border-radius: 50%;
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) 0.1s;
  cursor: pointer;
}
.btn * {
  margin: auto;
}
.btn.active {
  background: #2a2c38;
}
.btn:hover {
  background: #2a2c38;
}
.form-control {
  background: transparent;
  border-radius: 0;
  width: 100%;
  padding: 0 0 5px 0;
}