.minitab {
  position: absolute;
  right: 0;
  background: #ffffff;
  transform: translate(-20px, 60px);
  transition: cubic-bezier(.5,-.75,.7,2) 0.3s;
  width: 20px; height: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px #dfdfdf;
  overflow: hidden;
  opacity: 0;
  z-index: -9;
}
.minitab.active {
  width: 200px;
  height: 200px;
  opacity: 1;
  z-index: 2;
}
.btn {
  background: transparent;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.btn:hover {
  background: #F2F2F270;
}
.btn:nth-last-child(1) {
  margin: 20px 0 0 0;
  border-top: 1px solid #F2F2F2;
}