.register {
  position: absolute;
  height: 100%;
  display: flex;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
  opacity: 0;
  z-index: 0;
  background: #ffffff;
}
.register.active {
  opacity: 1;
  z-index: 1;
}
.register-wrap {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 20px;
}
h1, h3 {
  font-family: averta-bold;
}
.header p {
  margin: 10px 0 0 0;
  opacity: 0.8;
}
.control {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
}
.control .cards {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #00000070;
}
.control .input-field {
  display: grid;
}
.control .label {
  margin: 10px 0 0 0;
  opacity: 0.5;
  font-size: 0.9rem;
}
.control input {
  padding: 5px 0 10px 0;
}
.submit {
  margin: 40px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.submit .btn {
  background: #eaf5f4;
  padding: 15px 30px;
  cursor: pointer;
}
.forgot {
  text-decoration: underline;
}
.footer {
  display: flex;
  gap: 5px;
  margin: 40px 0 0 0;
}
.footer .btn {
  text-decoration: underline;
  cursor: pointer;
}
