.room {
  background: #eaf5f4;
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.room-wrap {
  display: grid;
  grid-template-rows: auto 1fr;
}

@media screen and (max-width: 768px) {
  .room {
    position: absolute;
    width: 100%;
    transform: translate(100%, 0);
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s;
    z-index: 9;
  }

  .room.active {
    transform: translate(0, 0);
  }
}